@use "../../foundation/variables" as *;

.p-sidebar{
  flex: 0 0 30%;
  max-width: 345px;
  min-width: 280px;

  &__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
  }

  @media(max-width: $bp-md){
    margin-top: 64px;
    max-width: none;
    min-width: 0;
  }
}

.p-profile{
  text-align: center;

  &__image{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }

  &__text{
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.65;
    text-align: left;
  }
}

.p-ranking{
  margin-top: 56px;

  &__item{
    & + &{
      margin-top: 30px;
    }
  }

  &__link{
    display: block;
    color: inherit;
    line-height: 1.5;
    text-decoration: none;
  }

  &__text{
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.p-archive{
  margin-top: 56px;

  &__list{
    border-top: 1px solid $color-line;
  }

  &__item{
    border-bottom: 1px solid $color-line;
  }

  &__link{
    display: block;
    padding: 20px;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    color: inherit;
  }
}

